<style type="text/css">
	p	{ margin-top: 0; margin-bottom: 0; }
	body	{ font-family: "Arial"; font-size: 10pt; }
	table	{ font-family: "Times New Roman"; font-size: 10pt; }
	.normal	{ font-family: "Arial"; font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.heading-1	{ font-family: "Arial"; font-size: 10pt; font-weight: bold; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-1-p	{ line-height: 0; margin-top: 0.0416667in; }
	.heading-2	{ font-family: "Arial"; font-size: 12pt; font-weight: bold; font-style: italic; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-2-p	{ line-height: 0; margin-top: 0.0416667in; }
	.heading-3	{ font-family: "Arial"; font-size: 12pt; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-3-p	{ line-height: 0; margin-top: 0.0416667in; }
	.heading-4	{ font-family: "Arial"; font-size: 12pt; font-weight: bold; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-4-p	{ line-height: 0; margin-top: 0.0416667in; }
	.heading-5	{ font-size: 11pt; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-5-p	{ line-height: 0; margin-top: 0.0416667in; }
	.heading-6	{ font-size: 11pt; font-style: italic; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-6-p	{ line-height: 0; margin-top: 0.0416667in; }
	.heading-7	{ font-family: "Arial"; font-size: 10pt; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-7-p	{ line-height: 0; margin-top: 0.0416667in; }
	.heading-8	{ font-family: "Arial"; font-size: 10pt; font-style: italic; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-8-p	{ line-height: 0; margin-top: 0.0416667in; }
	.heading-9	{ font-family: "Arial"; font-size: 9pt; font-weight: bold; font-style: italic; margin-top: 0.166667in; margin-bottom: 0; }
	.heading-9-p	{ line-height: 0; margin-top: 0.0416667in; }
	.default-paragraph-font	{ }
	.constantes	{ font-family: "Arial Black"; font-size: 12pt; margin-top: 0.0833333in; margin-bottom: 0; }
	.metodos	{ font-family: "Arial Black"; font-size: 12pt; margin-top: 0.0833333in; margin-bottom: 0; }
	.metodos-p	{ line-height: 0; margin-top: 0.0833333in; }
	.objetocapa	{ font-family: "Arial Black"; font-size: 22pt; margin-top: 0; margin-bottom: 0; }
	.objetocapa-p	{ line-height: 0; margin-top: 0.0833333in; }
	.body-text	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.body-text-p	{ line-height: 0; margin-top: 0.0833333in; }
	.objetos	{ font-family: "Arial Black"; font-size: 12pt; margin-top: 0.0833333in; margin-bottom: 0; }
	.objetos-p	{ line-height: 0; margin-top: 0.0833333in; }
	.sourcecode	{ font-family: "Courier New"; font-size: 7pt; margin-top: 0; margin-bottom: 0; }
	.sourcecode-p	{ line-height: 0; margin-top: 0.0416667in; }
	.sintax	{ font-family: "Arial"; font-size: 9pt; text-indent: 0.25in; margin-top: 0; margin-bottom: 0; }
	.sintax-p	{ line-height: 0; margin-top: 0.0833333in; }
	.propriedades	{ font-family: "Arial Black"; font-size: 12pt; margin-top: 0.0833333in; margin-bottom: 0; }
	.block-text	{ font-size: 10pt; margin-left: 1in; margin-top: 0; margin-bottom: 0; }
	.block-text-p	{ line-height: 0; margin-top: 0.0833333in; }
	.body-text-2	{ font-size: 10pt; margin-left: 0.25in; margin-top: 0; margin-bottom: 0; }
	.body-text-2-p	{ line-height: 0; margin-top: 0.0833333in; }
	.body-text-3	{ font-size: 8pt; margin-top: 0; margin-bottom: 0; }
	.body-text-3-p	{ line-height: 0; margin-top: 0.0833333in; }
	.body-text-first-indent	{ font-size: 10pt; text-indent: 0.145833in; margin-top: 0; margin-bottom: 0; }
	.body-text-first-indent-p	{ line-height: 0; margin-top: 0.0833333in; }
	.body-text-2	{ font-size: 10pt; margin-left: 0.25in; margin-top: 0; margin-bottom: 0; }
	.body-text-2-p	{ line-height: 0; margin-top: 0.0833333in; }
	.body-text-first-indent-2	{ font-size: 10pt; margin-left: 0.25in; text-indent: 0.145833in; margin-top: 0; margin-bottom: 0; }
	.body-text-first-indent-2-p	{ line-height: 0; margin-top: 0.0833333in; }
	.body-text-indent-2	{ font-size: 10pt; margin-left: 0.25in; margin-top: 0; margin-bottom: 0; }
	.body-text-indent-2-p	{ line-height: 0; margin-top: 0.0833333in; }
	.body-text-indent-3	{ font-size: 8pt; margin-left: 0.25in; margin-top: 0; margin-bottom: 0; }
	.body-text-indent-3-p	{ line-height: 0; margin-top: 0.0833333in; }
	.caption	{ font-size: 10pt; font-weight: bold; margin-top: 0.0833333in; margin-bottom: 0; }
	.caption-p	{ line-height: 0; margin-top: 0.0833333in; }
	.closing	{ font-size: 10pt; margin-left: 3in; margin-top: 0; margin-bottom: 0; }
	.annotation-reference	{ font-size: 8pt; }
	.annotation-text	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.date	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.document-map	{ font-family: "Tahoma"; font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.emphasis	{ font-style: italic; }
	.endnote-reference	{ }
	.endnote-text	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.envelope-address	{ font-family: "Arial"; font-size: 12pt; margin-left: 2in; margin-top: 0; margin-bottom: 0; }
	.envelope-return	{ font-family: "Arial"; font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.followedhyperlink	{ color: #800080; text-decoration: underline; }
	.footer	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.footer-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 3in; }
	.footer-tab2	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 6in; }
	.footnote-reference	{ }
	.footnote-text	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.header	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.header-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 3in; }
	.header-tab2	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 6in; }
	.hyperlink	{ color: #0000ff; text-decoration: underline; }
	.index-1	{ font-size: 10pt; margin-left: 0.138889in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-2	{ font-size: 10pt; margin-left: 0.277778in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-3	{ font-size: 10pt; margin-left: 0.416667in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-4	{ font-size: 10pt; margin-left: 0.555556in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-5	{ font-size: 10pt; margin-left: 0.694444in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-6	{ font-size: 10pt; margin-left: 0.833333in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-7	{ font-size: 10pt; margin-left: 0.972222in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-8	{ font-size: 10pt; margin-left: 1.11111in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-9	{ font-size: 10pt; margin-left: 1.25in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.index-heading	{ font-family: "Arial"; font-size: 10pt; font-weight: bold; margin-top: 0; margin-bottom: 0; }
	.line-number	{ }
	.list	{ font-size: 10pt; margin-left: 0.25in; text-indent: -0.25in; margin-top: 0; margin-bottom: 0; }
	.list-2	{ font-size: 10pt; margin-left: 0.5in; text-indent: -0.25in; margin-top: 0; margin-bottom: 0; }
	.list-3	{ font-size: 10pt; margin-left: 0.75in; text-indent: -0.25in; margin-top: 0; margin-bottom: 0; }
	.list-4	{ font-size: 10pt; margin-left: 1in; text-indent: -0.25in; margin-top: 0; margin-bottom: 0; }
	.list-5	{ font-size: 10pt; margin-left: 1.25in; text-indent: -0.25in; margin-top: 0; margin-bottom: 0; }
	.list-bullet	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.list-bullet-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 0.25in; }
	.list-bullet-2	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; margin-left: 0.25in; }
	.list-bullet-2-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 0.5in; }
	.list-bullet-3	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; margin-left: 0.5in; }
	.list-bullet-3-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 0.75in; }
	.list-bullet-4	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; margin-left: 0.75in; }
	.list-bullet-4-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 1in; }
	.list-bullet-5	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; margin-left: 1in; }
	.list-bullet-5-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 1.25in; }
	.list-continue	{ font-size: 10pt; margin-left: 0.25in; margin-top: 0; margin-bottom: 0; }
	.list-continue-p	{ line-height: 0; margin-top: 0.0833333in; }
	.list-continue-2	{ font-size: 10pt; margin-left: 0.5in; margin-top: 0; margin-bottom: 0; }
	.list-continue-2-p	{ line-height: 0; margin-top: 0.0833333in; }
	.list-continue-3	{ font-size: 10pt; margin-left: 0.75in; margin-top: 0; margin-bottom: 0; }
	.list-continue-3-p	{ line-height: 0; margin-top: 0.0833333in; }
	.list-continue-4	{ font-size: 10pt; margin-left: 1in; margin-top: 0; margin-bottom: 0; }
	.list-continue-4-p	{ line-height: 0; margin-top: 0.0833333in; }
	.list-continue-5	{ font-size: 10pt; margin-left: 1.25in; margin-top: 0; margin-bottom: 0; }
	.list-continue-5-p	{ line-height: 0; margin-top: 0.0833333in; }
	.list-number	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.list-number-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 0.25in; }
	.list-number-2	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; margin-left: 0.25in; }
	.list-number-2-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 0.5in; }
	.list-number-3	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; margin-left: 0.5in; }
	.list-number-3-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 0.75in; }
	.list-number-4	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; margin-left: 0.75in; }
	.list-number-4-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 1in; }
	.list-number-5	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; margin-left: 1in; }
	.list-number-5-tab1	{ font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 1.25in; }
	.macro	{ font-family: "Courier New"; font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.macro-tab1	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 0.333333in; }
	.macro-tab2	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 0.666667in; }
	.macro-tab3	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 1in; }
	.macro-tab4	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 1.33333in; }
	.macro-tab5	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 1.66667in; }
	.macro-tab6	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 2in; }
	.macro-tab7	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 2.33333in; }
	.macro-tab8	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 2.66667in; }
	.macro-tab9	{ font-family: "Courier New"; font-size: 10pt; margin-top: -12pt; margin-bottom: 0; margin-left: 3in; }
	.message-header	{ font-family: "Arial"; font-size: 12pt; margin-left: 0.75in; text-indent: -0.75in; margin-top: 0; margin-bottom: 0; }
	.normal-indent	{ font-size: 10pt; margin-left: 0.5in; margin-top: 0; margin-bottom: 0; }
	.note-heading	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.page-number	{ }
	.plain-text	{ font-family: "Courier New"; font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.salutation	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.signature	{ font-size: 10pt; margin-left: 3in; margin-top: 0; margin-bottom: 0; }
	.strong	{ font-weight: bold; }
	.subtitle	{ font-family: "Arial"; font-size: 12pt; text-align: center; margin-top: 0; margin-bottom: 0; }
	.subtitle-p	{ line-height: 0; margin-top: 0.0416667in; }
	.table-of-authorities	{ font-size: 10pt; margin-left: 0.138889in; text-indent: -0.138889in; margin-top: 0; margin-bottom: 0; }
	.table-of-figures	{ font-size: 10pt; margin-left: 0.277778in; text-indent: -0.277778in; margin-top: 0; margin-bottom: 0; }
	.title	{ font-family: "Arial"; font-size: 16pt; font-weight: bold; text-align: center; margin-top: 0.166667in; margin-bottom: 0; }
	.title-p	{ line-height: 0; margin-top: 0.0416667in; }
	.toa-heading	{ font-family: "Arial"; font-size: 12pt; font-weight: bold; margin-top: 0.0833333in; margin-bottom: 0; }
	.toc-1	{ font-size: 10pt; margin-top: 0; margin-bottom: 0; }
	.toc-2	{ font-size: 10pt; margin-left: 0.138889in; margin-top: 0; margin-bottom: 0; }
	.toc-3	{ font-size: 10pt; margin-left: 0.277778in; margin-top: 0; margin-bottom: 0; }
	.toc-4	{ font-size: 10pt; margin-left: 0.416667in; margin-top: 0; margin-bottom: 0; }
	.toc-5	{ font-size: 10pt; margin-left: 0.555556in; margin-top: 0; margin-bottom: 0; }
	.toc-6	{ font-size: 10pt; margin-left: 0.694444in; margin-top: 0; margin-bottom: 0; }
	.toc-7	{ font-size: 10pt; margin-left: 0.833333in; margin-top: 0; margin-bottom: 0; }
	.toc-8	{ font-size: 10pt; margin-left: 0.972222in; margin-top: 0; margin-bottom: 0; }
	.toc-9	{ font-size: 10pt; margin-left: 1.11111in; margin-top: 0; margin-bottom: 0; }
</style>
